/* === VARIABLES === */

$font-main: "Poppins", Arial, sans-serif;

$color-bg-light: #eaf6ff;
$color-card: #ffffff;
$color-primary: #1e88e5;
$color-text: #1f2d3d;

$radius: 18px;
$shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
